body{
    background-color: #FFFFFF;
}

nav{
    font-family: Roboto 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
}

h2{
   font-weight: bold;
}

.texto-quemsomos{
    font-size: 1.3rem;
}

#faleconosco{
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
}