body{
    background-color: #FFFFFF;
}

nav{
    font-family: Roboto 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
}

h2{
   font-weight: bold;
}

.texto-quemsomos{
    font-size: 1.2rem;
}

.texto-conheca-nossos-segmentos{
	
	font-size: 48px;
	color: #182777;
	line-height: 56px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto-outsetos-dedetizadora{
	
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

.ellipse-1 {
	
	width: 100px;
	height: 100px;
	left: 367px;
	top: 1144px;
}

.ellipse-2 {
	
	width: 100px;
	height: 100px;
	left: 670px;
	top: 1144px;
}

.ellipse-3 {
	
	width: 100px;
	height: 100px;
	left: 979px;
	top: 1144px;
}

.ellipse-4 {
	
	width: 100px;
	height: 100px;
	left: 367px;
	top: 1352px;
}

.ellipse-5 {
	
	width: 100px;
	height: 100px;
	left: 672px;
	top: 1352px;
}

.ellipse-6 {
	
	width: 100px;
	height: 100px;
	left: 979px;
	top: 1352px;
}


.iconSize{
	font-size: 3rem;
}


@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}