   <title>Area de atuação</title>
    <img class="img-fluid container-fluid" style="padding: 0px;" src="images/area-de-atuacao.png" alt="Imagem de homem realizando dedetização e texto escrito: Outsetos dedetizadora, dedetização e controle de pragas." />

    <div class="container">
      <div class="row">
        <div class="col mt-5 text-center texto-conheca-nossos-segmentos">
          Conheça Nossos Segmentos de Atuação
        </div>
        <div class="text-center texto-outsetos-dedetizadora">
          <br />
          A OutSetos Dedetizadora é uma empresa inovadora, que busca novas
          tecnologias e equipamentos de última <br />

          geração para resolver e atender todas as necessidades de nossos
          clientes. <br />

          Para cada segmento, executamos métodos e técnicas diferenciadas para
          resolver o seu problema. <br />
        </div>
      </div>
      <br /><br />

      <div class="row">
        <div class="col text-center">
          <i class="fas fa-home iconSize"></i> <br />
          Residencial
        </div>
        <div class="col text-center">
          <i class="fas fa-cogs iconSize"></i><br />
          Industrial
        </div>
        <div class="col text-center">
          <i class="fas fa-store iconSize"></i> <br />
          Comercial
        </div>
      </div>

      <div class="row mt-5">

        <div class="col text-center">
          <i class="fas fa-building iconSize"></i> <br />
          Empresarial
        </div>



        <div class="col text-center">
          <i class="fas fa-school iconSize"></i> <br />
          Escolar
        </div>
        <div class="col text-center">
          <i class="fas fa-hospital iconSize"></i> <br />
          Hospitalar
        </div>
      </div>
    </div>

    <script
    src="https://kit.fontawesome.com/1c3439e0df.js"
    crossorigin="anonymous"
  ></script>