<title>Cadastrar Produto</title>
<img class="img-fluid container-fluid" style="padding: 0px;" src="images/cadastro-produto-background.png"
    alt="Imagem de atendente de callcenter utilizando roupa azul" />


<div class="container">

    <div class="mt-4">
        <div class="row justify-content-center text-primary ">

            <form action="/criarProduto" method="POST">
                <div class="form-group">
                    <label for="nome">Nome do produto</label>
                    <input type="text" class="form-control" name="nome" aria-describedby="nome"
                        placeholder="Ex: Inseticida" required>
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" name="marca" placeholder="Ex: Baygon" required>
                </div>
                <div class="form-group">
                    <label for="imagem">Url da imagem</label>
                    <input type="url" class="form-control" name="imagem"
                        placeholder="Ex: https://example.com/inseticida.jpg" required>
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade em estoque</label>
                    <input type="number" class="form-control" name="quantidade" placeholder="Ex: 45" required>
                </div>
                <div class="form-group">
                    <label for="preco">Preço do produto</label>
                    <input type="number" class="form-control" name="preco" placeholder="Ex: 20" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>





</div>