  
  
  <title>Dúvidas</title>
  <div class="container-fluid duvidas-titulo text-center text-white">
      Dúvidas
    </div>

    <div class="container mt-5">
        
      <div class="accordion" id="duvidas">
        <div class="card">
          <div class="card-header" id="duvida1">
            <h5 class="mb-0">
              <button
                class="btn-lg"
                type="button"
                data-toggle="collapse"
                data-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapse1"
              >
                Quais são os cuidados ao contratar uma dedetizadora?
              </button>
            </h5>
          </div>

          <div
            id="collapse1"
            class="collapse show"
            aria-labelledby="duvida1"
            data-parent="#duvidas"
          >
            <div class="card-body">
              Pedir o número da licença de funcionamento; <br> Todos os produtos
              devem ser registrados no ministério da saúde; <br> Saber como a empresa
              se preocupa com meio ambiente em relação a proteção e descarte de
              resíduos.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="duvida2">
            <h5 class="mb-0">
              <button
                class="btn-lg"
                type="button"
                data-toggle="collapse"
                data-target="#collapse2"
                aria-expanded="false"
                aria-controls="collapse2"
              >
                Qual tempo necessário fora do local dedetizado?
              </button>
            </h5>
          </div>
          <div
            id="collapse2"
            class="collapse"
            aria-labelledby="duvida2"
            data-parent="#duvidas"
          >
            <div class="card-body">
              Dedetizações com gel: não há necessidade de ausência; <br> Dedetizações
              com spray: De 3 a 7 horas a depender da praga alvo;<br> Desratização:
              não há necessidade de ausência.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="duvida3">
            <h5 class="mb-0">
              <button
                class="btn-lg"
                type="button"
                data-toggle="collapse"
                data-target="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                Qual tempo necessário fora do local dedetizado se for área
                ventilada?
              </button>
            </h5>
          </div>
          <div
            id="collapse3"
            class="collapse"
            aria-labelledby="duvida3"
            data-parent="#duvidas"
          >
            <div class="card-body">
              Do período da aplicação até a total secagem do produto.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="duvida4">
            <h5 class="mb-0">
              <button
                class="btn-lg"
                type="button"
                data-toggle="collapse"
                data-target="#collapse4"
                aria-expanded="false"
                aria-controls="collapse4"
              >
                Estou construindo qual melhor momento para dedetizar?
              </button>
            </h5>
          </div>
          <div
            id="collapse4"
            class="collapse"
            aria-labelledby="duvida4"
            data-parent="#duvidas"
          >
            <div class="card-body">
              No início uma dedetização preventiva contra cupins na fundação e
              logo depois da faxina geral após conclusão da obra.
            </div>
          </div>
        </div>


        <div class="card">
            <div class="card-header" id="duvida5">
              <h5 class="mb-0">
                <button
                  class="btn-lg"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapse5"
                >
                No momento da dedetização ou logo após quais cuidados importantes com os animais?
                </button>
              </h5>
            </div>
            <div
              id="collapse5"
              class="collapse"
              aria-labelledby="duvida5"
              data-parent="#duvidas"
            >
              <div class="card-body">
                No momento da aplicação deixá-los isolados, até a secagem e cristalização do produto. Uma vez cristalizados perde o efeito contra animais domésticos, e precisaria de grandes doses para atingir o porte desses tipos de animais.

              <br> Desratização: as iscas têm em sua composição ingrediente de segurança extremamente amargos sendo muito difícil de ser ingerido por humanos ou animais. E anda assim se ingerido precisaria de grandes dosagem para causar danos. 
              </div>
            </div>
          </div>
  

          <div class="card">
            <div class="card-header" id="duvida6">
              <h5 class="mb-0">
                <button
                  class="btn-lg"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse6"
                  aria-expanded="false"
                  aria-controls="collapse6"
                >
               Quais os cuidados com crianças, gestantes, idosos e pessoas alérgicas?
                </button>
              </h5>
            </div>
            <div
              id="collapse6"
              class="collapse"
              aria-labelledby="duvida6"
              data-parent="#duvidas"
            >
              <div class="card-body">
                No momento da aplicação deixá-los isolados, até a secagem e cristalização do produto. Uma vez cristalizados perde o efeito contra animais domésticos, e precisaria de grandes doses para atingir o porte desses tipos de animais.

              <br> Desratização: as iscas têm em sua composição ingrediente de segurança extremamente amargos sendo muito difícil de ser ingerido por humanos ou animais. E anda assim se ingerido precisaria de grandes dosagem para causar danos. 
              </div>
            </div>
          </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>