<title>Início</title>
<img class="img-fluid container-fluid" style="padding: 0px" src="images/homebg.jpeg"
    alt="Imagem homens realizando dedetização e com texto escrito dedetização e controle de pragas" />

<div class="container-fluid backgroundSlogan">

    <div class="row">
        <div class="col">
            <div class="texto-home text-white text-center ">
                Porque você quer os insetos <b>out</b> <br />
                e não <b>in</b> da sua casa!
            </div>
        </div>
    </div>

    <div class="row m-3">
        <div class="col text-center" style="padding-bottom: 50px;">
            <a href="area-de-atuacao.html">
                <button class="btn btn-lg" style="color: #182777;">Saiba Mais</button>
            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col mt-5 text-center texto-controle-de-pragas">
            Controle de pragas no Distrito Federal
        </div>
    </div>
    <div class="row  mt-5">

        <div class="col">
            <!-- baratas -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/barata.jpeg" alt="Imagem de uma barata">
                <div class="card-body">
                    <p class="card-text">Os cupins são insetos pertencentes a ordem Isoptera (iso= igual; ptera=asas),
                        conhecidos também como térmitas, siriris ou aleluias.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- cupins -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/cupim.png" alt="Imagem de um cupim">
                <div class="card-body">
                    <p class="card-text">Os cupins são insetos pertencentes a ordem Isoptera (iso= igual; ptera=asas),
                        conhecidos também como térmitas, siriris ou aleluias.</p>
                </div>
            </div>
        </div>


        <div class="col">
            <!-- mosquitos -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/mosquito.jpeg" alt="Imagem de um mosquito">
                <div class="card-body">
                    <p class="card-text">Insetos dípteros, de pequeno tamanho, esp. os hematófagos da fam. dos
                        culicídeos, ger. vetores de conhecidas doenças do homem.</p>
                </div>
            </div>
        </div>

    </div>
</div>